<a href="https://colab.research.google.com/github/ovis1me1me/STUDY_PANDAS/blob/main/1%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 판다스 라이브러리 추가하기
import pandas as pd
# 데이터 프레임 불러오기
df=pd.read_csv('/content/sample_data/movie-ratings.csv')

In [5]:
# 데이터 프레임 기본 정보 출력하기
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Film                   559 non-null    object
 1   Genre                  559 non-null    object
 2   RottenTomatoesRatings  559 non-null    int64
 3   AudienceRatings        559 non-null    int64
 4   Budget(million)        559 non-null    int64
 5   Yearofrelease          559 non-null    int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB
None

In [25]:
# 앞 5개 데이터 출력
print(df.head(5))

                   Film      Genre  RottenTomatoesRatings  AudienceRatings  \
0  (500) Days of Summer     Comedy                     87               81
1           10,000 B.C.  Adventure                      9               44
2             12 Rounds     Action                     30               52
3             127 Hours  Adventure                     93               84
4              17 Again     Comedy                     55               70

   Budget(million)  Yearofrelease
0                8           2009
1              105           2008
2               20           2009
3               18           2010
4               20           2009

In [8]:
# 데이터 프레임 타입 확인하기
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [9]:
# 데이터 프레임 크기 확인하기
print(df.shape)

(559, 6)

In [10]:
# 데이터 프레임 컬럼 이름 출력
print(df.columns)

Index(['Film', 'Genre', 'RottenTomatoesRatings', 'AudienceRatings',
       'Budget(million)', 'Yearofrelease'],
      dtype='object')

In [12]:
# Budget(million)	Yearofrelease 컬럼의 데이터 출력하기
year_df=df['Yearofrelease']
print(year_df)

0      2009
1      2008
2      2009
3      2010
4      2009
       ...
554    2011
555    2009
556    2007
557    2009
558    2011
Name: Yearofrelease, Length: 559, dtype: int64

In [24]:
# Budget(million)	Yearofrelease의 0번 행부터 10번 행까지 출력하기
year_df[:11]

0     2009
1     2008
2     2009
3     2010
4     2009
5     2009
6     2008
7     2007
8     2011
9     2011
10    2007
Name: Yearofrelease, dtype: int64

In [23]:
# 0~10번 행과 0~4번 컬럼 출력하기
df.iloc[:11,:5]

,Film,Genre,RottenTomatoesRatings,AudienceRatings,Budget(million)
0,(500) Days of Summer,Comedy,87,81,8
1,"10,000 B.C.",Adventure,9,44,105
2,12 Rounds,Action,30,52,20
3,127 Hours,Adventure,93,84,18
4,17 Again,Comedy,55,70,20
5,2012,Action,39,63,200
6,27 Dresses,Comedy,40,71,30
7,30 Days of Night,Horror,50,57,32
8,30 Minutes or Less,Comedy,43,48,28
9,50/50,Comedy,93,93,8
10,88 Minutes,Drama,5,51,30