<a href="https://colab.research.google.com/github/ovis1me1me/STUDY_PANDAS/blob/main/%ED%8C%90%EB%8B%A4%EC%8A%A4_1%EC%A3%BC%EC%B0%A8%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#/content/sample_data/movie-ratings.csv
import pandas as pd
df=pd.read_csv('/content/sample_data/movie-ratings.csv')
print(type(df)) #자료형을 출력
print(df.shape) #행과 열의 크기를 출력

<class 'pandas.core.frame.DataFrame'>
(559, 6)

In [19]:
df.columns[-1] #열 이름을 확인
#string of python == object of pandas

'Yearofrelease'

In [8]:
print(df.info())
#자료형, 크기, 컬럼명, dtype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Film                   559 non-null    object
 1   Genre                  559 non-null    object
 2   RottenTomatoesRatings  559 non-null    int64
 3   AudienceRatings        559 non-null    int64
 4   Budget(million)        559 non-null    int64
 5   Yearofrelease          559 non-null    int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB
None

####열 단위로 데이터 추출

In [11]:
print(df['Film'].head()) #Film컬럼의 4번행까지만 보여준다.
print(df['Film'].tail())

0    (500) Days of Summer
1             10,000 B.C.
2               12 Rounds
3               127 Hours
4                17 Again
Name: Film, dtype: object
554      Your Highness
555    Youth in Revolt
556             Zodiac
557         Zombieland
558          Zookeeper
Name: Film, dtype: object

In [14]:
col_3=df[['Film','Genre','RottenTomatoesRatings']]
col_3.head()

                   Film      Genre  RottenTomatoesRatings
0  (500) Days of Summer     Comedy                     87
1           10,000 B.C.  Adventure                      9
2             12 Rounds     Action                     30
3             127 Hours  Adventure                     93
4              17 Again     Comedy                     55

####행 단위 데이터 추출

In [ ]:
'''
loc : index 중심 
위 출력 표의 왼쪽 숫자들이 index이다.
'''

In [22]:
print(df.loc[0])
'''
0행의 정보 출력력
'''
#df.loc[-1]처럼 -1을 index로 사용하면 오류 발생생

Film                     (500) Days of Summer
Genre                                  Comedy
RottenTomatoesRatings                      87
AudienceRatings                            81
Budget(million)                             8
Yearofrelease                            2009
Name: 0, dtype: object

'\n0행의 정보 출력력\n'

In [26]:
df_low=df.loc[[2,3,4]]
print(df_low)

        Film      Genre  RottenTomatoesRatings  AudienceRatings  \
2  12 Rounds     Action                     30               52
3  127 Hours  Adventure                     93               84
4   17 Again     Comedy                     55               70

   Budget(million)  Yearofrelease
2               20           2009
3               18           2010
4               20           2009

In [28]:
df_low=df.loc[2:5]
print(df_low)

        Film      Genre  RottenTomatoesRatings  AudienceRatings  \
2  12 Rounds     Action                     30               52
3  127 Hours  Adventure                     93               84
4   17 Again     Comedy                     55               70
5       2012     Action                     39               63

   Budget(million)  Yearofrelease
2               20           2009
3               18           2010
4               20           2009
5              200           2009

In [29]:
df_low=df[['Film','Genre']].loc[0:2]
print(df_low)

                   Film      Genre
0  (500) Days of Summer     Comedy
1           10,000 B.C.  Adventure
2             12 Rounds     Action

In [34]:
df.iloc[3]

Film                     127 Hours
Genre                    Adventure
RottenTomatoesRatings           93
AudienceRatings                 84
Budget(million)                 18
Yearofrelease                 2010
Name: 3, dtype: object

In [35]:
df.loc[3]

Film                     127 Hours
Genre                    Adventure
RottenTomatoesRatings           93
AudienceRatings                 84
Budget(million)                 18
Yearofrelease                 2010
Name: 3, dtype: object

In [ ]:
df.set_index('Genre')

In [41]:
df_row2=df.loc[0:2,'Film':'Genre']
df_row2

                   Film      Genre
0  (500) Days of Summer     Comedy
1           10,000 B.C.  Adventure
2             12 Rounds     Action

In [42]:
df_row2=df.iloc[0:2,0:2]